body
  margin: 0

html, body, #app, .page
  height: 100%

a
  text-decoration: none

.ellipsis
  text-overflow: ellipsis
  width: 100%
  white-space: nowrap
  overflow: hidden

.page-topics
  box-sizing: border-box
  padding-top: 112px
  &__header
    fixed: top 0 left 0
    z-index: 100
    width: 100%
  &__list
    height: 100%
    overflow-y: auto